@model WebMultimediaMvc.DAL.TipoSeccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoSeccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuarioCreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioModificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuarioModificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTipoSeccion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
