@model IEnumerable<WebMultimediaMvc.DAL.RespuestaContenido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contenido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContenidHtml)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Respuesta.Titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contenido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContenidHtml)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Respuesta.Titulo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdRespuestaContenido }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdRespuestaContenido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdRespuestaContenido })
        </td>
    </tr>
}

</table>
