@model IEnumerable<WebMultimediaMvc.DAL.ComentarioTema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComentarioTexto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComentarioTextoHtml)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoreObtenido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioCreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuarioCreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioModificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuarioModificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadEdicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tema.Titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComentarioTexto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComentarioTextoHtml)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScoreObtenido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuarioCreador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUsuarioCreador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuarioModificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUsuarioModificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadEdicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tema.Titulo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdComentario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdComentario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdComentario })
        </td>
    </tr>
}

</table>
